$color-green: #44AF69;
$color-blue: #1A8FE3;
$color-blue-light: rgb(71, 166, 233);
$color-yellow: #E59500;


.graph-container {
	.hours-row {
		height: 150px;
		display: flex;
    	align-items: flex-end;

		@mixin on-assignment-base() {
			background-color: $color-blue;
		}

		@mixin on-assignment-bonus() {
			background-color: $color-blue-light;
		}

		@mixin bonus-and-base() {
			float: left;
			height: 100%;
			display: flex;
			flex-direction: column-reverse;
			justify-content: flex-start;
		}

		.on-assignment {
			@include on-assignment-base();
			float: left;
			height: 50%;
		}

		.on-assignment-bonus {
			@include bonus-and-base();
			
			.base {
				@include on-assignment-base();
				height: 50%;
			}
			
			.bonus {
				@include on-assignment-bonus();
				height: 30%;
			}
		}

		.on-assignment-bonus-big-with-pay {
			@include bonus-and-base();
			
			.base {
				@include on-assignment-base();
				height: 50%;
			}
			
			.bonus {
				@include on-assignment-bonus();
				height: 50%;
			}
		}

		.on-assignment-bonus-big {
			@include bonus-and-base();
			
			.base {
				@include on-assignment-base();
				height: 0px;
			}
			
			.bonus {
				@include on-assignment-bonus();
				height: 50%;
			}
		}

		.internal-with-pay {
			background-color: $color-green;
			height: 50%;
			float: left;
		}
	
		.internal-without-pay {
			background-color: $color-green;
			height: 5px;
			float: left;
		}
	
		.internal-time-decreasing {
			background-color: $color-yellow;
			height: 50%;
			float: left;
		}
	}

	.axis-row {
		$axis-row-height: 25px;
		height: $axis-row-height;

		.bonus-limit, .bonus-limit-big {
			overflow: hidden;
			height: 100%;
			box-sizing: border-box;
			border-right: 1px solid black;
			float: left;
			text-align: right;
			line-height: $axis-row-height;
		}
	}

	.full-time-row {
		$full-time-row-height: 25px;
		height: $full-time-row-height;

		.full-time {
			overflow: hidden;
			height: 100%;
			box-sizing: border-box;
			border-right: 1px solid black;
			float: left;
			text-align: right;
			line-height: $full-time-row-height;
		}
	}
}